APP_NAME=Clinical Variant Interpretation

LLM_PROVIDER=openai_compatible
LLM_BASE_URL=https://provider.example/v1
LLM_API_KEY=your-api-key
LLM_MODEL=model-name
LLM_MODEL_LIGHT=light-model-name
LLM_MODEL_STRONG=strong-model-name
LLM_TIMEOUT=30

VEP_BASE_URL=https://rest.ensembl.org
GENEBE_BASE_URL=https://api.genebe.net/cloud
GENEBE_EMAIL=
GENEBE_API_KEY=
MYVARIANT_BASE_URL=https://myvariant.info/v1
CLINVAR_BASE_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils
CLINGEN_BASE_URL=https://genome-euro.ucsc.edu/cgi-bin/hubApi
CSPEC_BASE_URL=https://cspec.clinicalgenome.org/cspec
PHEN2GENE_BASE_URL=https://phen2gene.wglab.org/api
MONARCH_BASE_URL=https://api-v3.monarchinitiative.org/v3/api
MYDISEASE_BASE_URL=https://mydisease.info/v1
MYDISEASE_TIMEOUT=30
MYDISEASE_MAX_RETRIES=2
MYDISEASE_CACHE_SIZE=128
MYDISEASE_MAX_DISEASES_PER_GENE=20
MYDISEASE_MAX_HPO_TERMS_PER_DISEASE=50
GNOMAD_BASE_URL=https://gnomad.broadinstitute.org/api
GNOMAD_DATASET_GRCH37=gnomad_r2_1
GNOMAD_DATASET_GRCH38=gnomad_r4
ENSEMBL_VARIATION_BASE_URL=https://rest.ensembl.org
LITVAR_BASE_URL=https://www.ncbi.nlm.nih.gov/research/litvar2-api
EUROPE_PMC_BASE_URL=https://www.ebi.ac.uk/europepmc/webservices/rest
PUBMED_BASE_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils
CONDITIONAL_ENRICHMENT_TIMEOUT=20
CONDITIONAL_ENRICHMENT_MAX_RETRIES=1
CONDITIONAL_ENRICHMENT_MAX_VARIANTS=5
CONDITIONAL_ENRICHMENT_MAX_ARTICLES=10
ENABLE_GNOMAD_DEEP_LOOKUP=true
ENABLE_LITERATURE_ENRICHMENT=true
HPO_ONTOLOGY_URL=https://purl.obolibrary.org/obo/hp.obo
HPO_GENE_ASSOCIATIONS_URL_TEMPLATE=https://github.com/obophenotype/human-phenotype-ontology/releases/download/v{release}/phenotype_to_genes.txt
HPO_DISEASE_ANNOTATIONS_URL_TEMPLATE=https://github.com/obophenotype/human-phenotype-ontology/releases/download/v{release}/phenotype.hpoa
GENOME_ASSEMBLY=GRCh38
VEP_BATCH_SIZE=50
ANNOTATION_MAX_RETRIES=2
LLM_MAX_RETRIES=2

REQUEST_TIMEOUT=30

LOG_LEVEL=INFO
LOG_PATH=storage/logs/clinical_variant.log
LOG_MAX_BYTES=5000000
LOG_BACKUP_COUNT=3

UPLOAD_DIR=storage/uploads
MAX_UPLOAD_BYTES=25000000
MAX_UNCOMPRESSED_VCF_BYTES=100000000
REPORT_DIR=storage/reports
DATABASE_PATH=storage/database/clinical_variant.sqlite3
CACHE_DIR=data/cache
HPO_DATA_DIR=data/hpo
